<div class="container page home-page fadein-effect">



  <section class="row links-container">
    <div class="text-container col-xs-12">
      <h1 class="page-title">Kidkards</h1>
      <div class="app-icon"></div>
      <h2>Learn new words with fun !</h2>
      <p class="description">
        Learn new words with fun !<br>
        Kidkards helps children to learn new words in English. They can explore words by categories, listen to their pronunciations or match with their related pictures.<br><br>
        <b>Kidkards is available on Apple iOS Devices.
        Check it out and Download</b> : <a href="https://itunes.apple.com/us/app/kidkards/id1088182089" class="app-link">Click Here</a>
      </p>

      <h3>Explore the cards</h3>
      <p>
        Children can look through all the cards by selecting a category<br>
        They can learn new words, expand each card and discover new objects.
      </p>
      <h3>Practice</h3>
      <p>
        Children can practice their knowledges by trying to remember each card name.<br>
        They can touch the navigation buttons or swipe to change the card.<br>
        If they touch the card, it will flip reveiling the word. A voice will also say the word to help them remember and to pronounce it. This feature can be turned off by touching the sound icon.
      </p>
      <h3>Play</h3>
      <p>
        Children can play a matching card game, helping them to remember the cards while having fun!
      </p>
    </div>

    <div class="picture  col-xs-12 col-sm-4">
    <img src="assets/pictures/list.jpg">
    </div>
    <div class="picture  col-xs-12 col-sm-4">
      <img src="assets/pictures/quizz.jpg">
    </div>
    <div class="picture  col-xs-12 col-sm-4">
      <img src="assets/pictures/matching.jpg">
    </div>

    <div class="contact col-xs-12">
      <h2>Contact us</h2>
      You need to contact the support because you have an issue with application, question or suggestion?<br>
      Please <a href="mailto:rdeswarte.sf@gmail.com"> Click here to send us an email</a>
    </div>


  </section>


</div>
